{% extends 'base.html.twig' %}

{% block title %}Tareas por hacer!{% endblock %}

{% block body %}
    <h1>Tareas por hacer</h1>
    {% include 'comunes/_mensajes.html.twig' %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for index, tarea in tareas %}
                <tr>
                    <th scope="row">{{ index + 1}}</th>
                    <td>{{ tarea.descripcion }}</td>
                    <td>
                        <a href="{{ path('app_editar_tarea', {'id': tarea.id}) }}">Editar</a>
                        <a href="{{ path('app_eliminar_tarea', {'id': tarea.id}) }}">Eliminar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No se han encontrado resultados</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
